@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Manrope:wght@200;500;600;700&family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;600;700&display=swap');

html {
    font-family: 'Poppins', sans-serif !important;
}

.background-image {
    background-image: url(../IMAGES/header-img.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    /* height: 600px !important; */
    width: 100% !important;
    height: 20rem !important;
    margin: 0 auto !important;
}

#cards {
    background-color: #E2E6E9 !important;
}

#footer {
    background-color: #1E1B1B !important;
    color: white !important;
}